name: CI - GrpcPedidos

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build solution
      run: dotnet build --configuration Release --no-restore

    - name: Run unit tests
      run: dotnet test --no-build --verbosity normal

    - name: Run tests with coverage
      run: dotnet test --collect:"XPlat Code Coverage" --logger trx --results-directory TestResults

    - name: Find coverage file
      id: coverage
      run: |
        file=$(find TestResults -name "coverage.cobertura.xml" | head -n 1)
        echo "file=$file" >> $GITHUB_OUTPUT
        echo "Coverage file: $file"

    - name: Build Docker image
      run: docker build -t grpc-pedidos .

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ${{ steps.coverage.outputs.file }}
        flags: unittests
        fail_ci_if_error: true
